.handl-book-container {
    height: auto;
    background-color: #f5f5f5;
    border-bottom: 2px solid #e9e9e9;
}

.handl-book-content {
    margin: 0px 126px;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.handl-book-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.handl-book-title {
    font-size: 26px;
    font-weight: 600;
}

.btn-see-more {
    background-color: #ebebeb;
    border: none;
    transition: all 0.2s ease;
    border-radius: 2px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.7);

    &:hover {
        background-color: #f7d800;
    }

    &:active {
        background-color: #dec000;
        box-shadow: 0px 0px 15px #f9dd2c;
    }
}

.handl-book-tag {
    display: flex !important;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 12px;
    &:hover .handl-book-img {
        transform: scale(1.1);
        opacity: 0.8;
    }
}

.handl-book-img-wrapper {
    flex: 1;
    overflow: hidden;
}

.handl-book-img {
    display: inline-block;
    transition: all 0.2s linear;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.handl-book-description {
    flex: 1;
    font-weight: 600;
    font-size: 18px;
    color: #333;
    height: 100%;
    padding-left: 10px;
}
