.home-footer-container {
    text-align: center;
    height: auto;
}

.more-info {
    text-decoration: none;
}

.about-content {
    display: flex;
    justify-content: center;
}

.content-1 {
    background-color: red !important;
}

.content-2 {
    background-color: green !important;
}
