.about-container {
    height: auto;
}

.about-content {
    margin: 0px 126px !important;
    padding: 40px 0 !important;
}

.about-header {
    font-size: 26px;
    font-weight: 600;
    padding: 10px 0;
}

.about-wrapper {
    width: 100%;
}

.about-video {
    width: 570px;
    height: 320px;
}

.text-info {
    font-size: 20px;
    text-align: center;
}
